header {
  .container {
    height: 10vh;
    display: flex;
    justify-content: center;
    font-size: 32px;
  }

  .logo {
    flex: 1;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  #checkbox {
    display: none;

    &~label {
      display: none;
    }
  }

  #checkbox:checked~nav {
    display: block;
  }

  .burger {
    color: $color_30;
    cursor: pointer;
    display: none;

    @include Tablets_max {
      display: block;
    }
  }

  nav {
    flex: 1;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: flex-end;

    @include Tablets_max {
      position: fixed;
      top: 0;
      flex: 0;
      height: 100vh;
      z-index: 1000;
      flex-direction: column;
      transition: 0.3s;
      width: 100vw;
      justify-content: center;
      background-color: $color_60;
      gap: 20px;
    }

    @include Phones {
      font-size: 20px;
    }

    .btn_navOff i {
      display: none;
      cursor: pointer;

      @include Tablets_max {
        display: block;
        position: absolute;
        top: 10px;
        right: 30px;

        // z-index: 1000;
      }
    }
  }

  .nav_on {
    left: 0;
  }

  .nav_off {
    left: 110vw;

  }


  .navbar a {
    display: inline-block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;

    @include Tablets_max {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 100%;
      margin-top: 10px;
      margin-left: 0;
      font-size: 30px;
    }

    @include Phones {
      font-size: 20px;
    }
  }

  .navbar a:hover {
    color: $color_10;
  }

  span {
    font-size: 40px;
    font-family: karantina;
  }

  .icons-réseaux {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    display: none;


    @include Tablets_max {
      display: block;
    }
  }
}